% {{ repo_name }} documentation master file, created by
%   copier-pypi-sphinx-flexlate.
%   You can adapt this file completely to your liking, but it should at least
%   contain the root `toctree` directive.

# Welcome to {{ full_name }} documentation!

```{include} ../../README.md
```

To get started, look here.

```{toctree}
---
caption: Tutorial
---

tutorial
auto_examples/index
```

```{toctree} api/modules
---
caption: API Documentation
maxdepth: 3
---
```

# Indices and tables

- {ref}`genindex`
- {ref}`modindex`
- {ref}`search`
