Getting started with {{ package_name }}
**********************************

Install
=======

Install via::

    pip install {{ package_name }}

Usage
=========

Some highlighted functionality.

This is a simple example::

    import {{ package_directory }}


