{%- set ns = namespace(python_support_url_fragment="") %}
{%- set python_minor_version = minimum_python_version | replace("3.", "") | int  %}
{%- for minor_version in range(python_minor_version, 11)  %}
{%- if loop.first %}
{%- set ns.python_support_url_fragment = ns.python_support_url_fragment + "3.{}".format(minor_version) %}
{%- else %}
{%- set ns.python_support_url_fragment = ns.python_support_url_fragment + "%20%7C%203.{}".format(minor_version) %}
{%- endif %}
{%- endfor %}

[![](https://codecov.io/gh/{{ repo_username }}/{{ repo_name }}/branch/{{ main_branch_name }}/graph/badge.svg)](https://codecov.io/gh/{{ repo_username }}/{{ repo_name }})
[![PyPI](https://img.shields.io/pypi/v/{{ package_name }})](https://pypi.org/project/{{ package_name }}/)
![PyPI - License](https://img.shields.io/pypi/l/{{ package_name }})
[![Documentation](https://img.shields.io/badge/documentation-pass-green)](https://{{ repo_username }}.github.io/{{ repo_name }}/)
{%- for os_base in os_support %}
![Tests Run on {{ os_base | title }} Python Versions](https://img.shields.io/badge/Tests%20{{ os_base | title }}%2FPython-{{ ns.python_support_url_fragment }}-blue)
{%- endfor %}
[![Github Repo](https://img.shields.io/badge/repo-github-informational)](https://github.com/{{ repo_username }}/{{ repo_name }}/)


# {% if logo_url %}<img src="{{ logo_url }}" height="27px" align="left"></img>{% endif %} {{ repo_name }}

## Overview

{{ short_description }}

## Getting Started

Install `{{ package_name }}`:

```
pip install {{ package_name }}
```

A simple example:

```python
import {{ package_directory }}

# Do something with {{ package_directory }}
```

See a
[more in-depth tutorial here.](
https://{{ repo_username }}.github.io/{{ repo_name }}/tutorial.html
)

## Development Status

This project is currently in early-stage development. There may be
breaking changes often. While the major version is 0, minor version
upgrades will often have breaking changes.

## Developing

First, you need a couple global dependencies installed, see their documentation for details:
- [pipx](https://pypa.github.io/pipx/installation/)
- [direnv](https://direnv.net/docs/installation.html)

Then clone the repo and run `npm install` and `mvenv sync dev`. Make your changes and then run `just` to run formatting,
linting, and tests.

Develop documentation by running `just docs` to start up a dev server.

To run tests only, run `just test`. You can pass additional arguments to pytest,
e.g. `just test -k test_something`.

## Author

Created by {{ package_author }}. MIT License.

## Links

See the
[documentation here.](
https://{{ repo_username }}.github.io/{{ repo_name }}/
)
