{%- set ns = namespace(python_support_url_fragment="") %}
{%- set python_minor_version = minimum_python_version | replace("3.", "") | int  %}
{%- for minor_version in range(python_minor_version, 11)  %}
{%- if loop.first %}
{%- set ns.python_support_url_fragment = ns.python_support_url_fragment + "3.{}".format(minor_version) %}
{%- else %}
{%- set ns.python_support_url_fragment = ns.python_support_url_fragment + "%20%7C%203.{}".format(minor_version) %}
{%- endif %}
{%- endfor %}

[![](https://codecov.io/gh/{{ repo_username }}/{{ repo_name }}/branch/{{ main_branch_name }}/graph/badge.svg)](https://codecov.io/gh/{{ repo_username }}/{{ repo_name }})
[![PyPI](https://img.shields.io/pypi/v/{{ package_name }})](https://pypi.org/project/{{ package_name }}/)
![PyPI - License](https://img.shields.io/pypi/l/{{ package_name }})
[![Documentation](https://img.shields.io/badge/documentation-pass-green)](https://{{ repo_username }}.github.io/{{ repo_name }}/)
{%- for os_base in os_support %}
![Tests Run on {{ os_base | title }} Python Versions](https://img.shields.io/badge/Tests%20{{ os_base | title }}%2FPython-{{ ns.python_support_url_fragment }}-blue)
{%- endfor %}
[![Github Repo](https://img.shields.io/badge/repo-github-informational)](https://github.com/{{ repo_username }}/{{ repo_name }}/)


# {% if logo_url %}<img src="{{ logo_url }}" height="27px" align="left"></img>{% endif %} {{ repo_name }}

## Overview

{{ short_description }}

## Getting Started

Install `{{ package_name }}`:

```
pip install {{ package_name }}
```

A simple example:

```python
import {{ package_directory }}

# Do something with {{ package_directory }}
```

See a
[more in-depth tutorial here.](
https://{{ repo_username }}.github.io/{{ repo_name }}/tutorial.html
)

## Links

See the
[documentation here.](
https://{{ repo_username }}.github.io/{{ repo_name }}/
)

## Development Status

This project is currently in early-stage development. There may be
breaking changes often. While the major version is 0, minor version
upgrades will often have breaking changes.

## Developing

### Initial Setup

First, you need a couple global dependencies installed, see their documentation for details:
- [direnv](https://direnv.net/docs/installation.html)
- [asdf](https://asdf-vm.com/guide/getting-started.html)

Note that these tools require a UNIX-style shell, such as bash or zsh. If
you are on Windows, you can use WSL or Git Bash. If you are using Pycharm,
you can configure the built-in terminal to use Git Bash.

Then clone the repo and run `direnv allow`. This will take a while on the first time
to install the remaining dependencies.

### Day to Day Development

Make your changes and then run `just` to run formatting,
linting, and tests.

Develop documentation by running `just docs` to start up a dev server.

To run tests only, run `just test`. You can pass additional arguments to pytest,
e.g. `just test -k test_something`.

Prior to committing, you can run `just` with no arguments to run all the checks.

#### Conventional Commits & Semantic Release

This project uses [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/)
to power [semantic release](https://semantic-release.gitbook.io/semantic-release/). This means
that when you commit, you should use the following format:

```
<type>[optional scope]: <description>
```

For example, `feat: Add new feature` or `fix: Fix bug`.

When creating a PR, please name the PR in this way as well so that the squashed
commit from the PR will have a conventional commit message.

#### Pre-commit Hooks

This project uses Husky and Lint-staged to run pre-commit hooks. This means that
when you commit, it will run `just format` and `just strip` on the files
you edited, and also check that your commit message is a conventional commit.

If you are not able to commit, it is likely because your commit message is not
in the conventional commit format.

## Author

Created by {{ package_author }}. MIT License.

